
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100&family=Pacifico&display=swap');


body{
    font-family: Overpass;
    font-weight: bold;
    overflow-x: hidden;
}
.navbar{
    height: 90px;
}
.navbar-nav .active a{
    color: white;
}
.nav-link{
    margin-left: 20px;
}
.navbar-nav a{
    color: black;
}
.navbar-brand{
    font-family: Pacifico;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
    margin-left: 158px;

}
.carousel-inner{
    height: 698px;
}

.feature-post{
    font-weight: normal;
    position: absolute;
    width: 450px;
    height: 400px;
    right: 50px;

    color: white;
    top: 0;
    background-color: #1791A0;
    padding: 30px;
}

.social-icon{
    position: absolute;
    right: 50px;    
    top: 450px;
    color: wheat;
}
.social-icon h2{
    font-size: 24px;

}
.social-icon .fa-brands{
    margin-left: 20px;
}
.feature-post hr{
    height: 2px;
    color: white;
    opacity: 100%;
}
.feature-post h3,h2{
    font-weight: bold;
}

#arrow-btn{
    padding-left: 120px;
    font-size: 25px;
}

.meet-the-dog{
    margin-bottom: 100px;
}
.meet-the-dog img{
    width: 99%;
}
.meet-the-dog p{
    font-size: 20px;
    font-weight: bold;
}
.meet-the-dog h1{
    font-weight: bold;
}
.meet-the-dog img{
    /* width: 99%; */
    object-fit: cover;
}
.animal img{
    object-fit: contain;
}
.animal-img img{
    height: 200px;
}

.animal-img{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 100px;
    width: 300px;
    margin: 20px;
}
.animal-img img{
    object-fit: cover;
}
.animal{
    display: flex;
    justify-content: center;
    position: relative;

}


.recent-project{
    background-color: rgb(247, 245, 245);
    padding-top: 100px;
}
.recent-project img{
    width: 99%;
    margin-bottom: 30px;
}

.card{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.card h1{
    font-size: 20px;
    font-weight: bold;
}
.card a{
    text-decoration: none;
    font-size: 14px;
}
#events-date{
    position: absolute;
    background-color: white;
    padding: 10px;
    text-align: center;
    line-height: 15px;
    padding-bottom: 2px;
    margin: 15px;
    color: #1791A0;
}
#event-full-date{
    font-size: 12px;
}
#events-date span{
    color: black;
    font-size: 12px;
}
.upcoming-events h1{
    font-weight: bold;
}

.upcoming-events{
    margin-top: 50px;
}
.upcoming-events .card{
    margin-top:50px;
}
.past-events{
    padding-top: 100px;
}

.past-events h1{
    font-weight: bold;
    /* font-size: 30px; */
    font-weight: bold;
}
.recent-news-container{
    position: relative;
}
.recent-news-overlay{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.466);
    bottom: 20px;
    /* right: 15px; */
    right: 0;
    height: 400px;
    width: 70%;
}
.recent-news-overlay h1{
    opacity: 1;
    margin: 50px;
    font-size: 30px;
    margin-top: 100px;

}
.recent-news-date{
    background-color: #1791A0;
    opacity: 100%;
    width: 130px;
    font-size: 10px;
    top: 0;
    position: absolute;
    height: 50px;
}
.recent-news-date h1{
    margin: 20px;
    font-size: 14PX;
    color: white;
}

.past-events{

    display: flex;
    
}
.past-events .card{
    margin-right: 0px;
    margin-top: 30px;
    box-shadow: none;
}
.past-events .col img{
    padding: 20px;
}
.partners{
    padding-top: 20px;
    padding-bottom: 20px;
}
.resources img{
    width: 150px;
    box-shadow: -10px 10px #1791A0;
}
.resources h1{
    font-size: 24px;
    font-weight: bold;
}
.testimonials-container{
    margin-top: 100px;
    margin-bottom: 100px;
}



.past-events{
    display: grid;
    grid-template-columns: auto;
}
footer{
    background-color: orange;
    height: 300px;
}

.testimonials{
    border-radius: 10px;
    padding: 20px;
    background-color: gray;
     color: white;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
}
.testimonials-container img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
}
.client-name{
    display: flex;
}
.client{
    margin-left: 20px;
    font-size: 14px;
}
.client-name h1{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    color: #1791A0;
}

.trusted-partner{
    background-color: rgb(235, 233, 233);
    padding-top: 50px;
}

#resources-links{
display: flex;

}
#resources-links li{
    list-style: none;
    font-size: 16px;
    margin: 10px;
}

.partners{
    background-color: rgb(255, 255, 255) ;
        color: black;
        margin-top: 50px;
        text-align: center;
        font-size: 50px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.partners h1{
    font-size: 24px;
    font-weight: bold;
}
.our-teams a{
    margin: 10px;
}

.overlay-text{
    position: absolute;
    width: 438px;
    font-family: Overpass;
    font-style: normal;
    font-weight: normal;
    line-height: 38px;
    display: flex;
    align-items: center;

    margin: 40px;
    margin-top: 100px;
    color: #FFFFFF;
    display: block;
}
.recent-project h1{
    font-weight: bold;
}
.overlay-text p{
    line-height: 20px;
}
.overlay-text h1{
    font-size: 30px;
}

footer{
    background-color: #3C3D41;
    color: white;
}
footer input{
    border-radius: 20px 0px  0px 20px;
    border: none;
    height: 40px;
    padding-left: 20px;
    outline: none;
    width: 85%;
}
footer .row{
    padding-top: 50px;
    font-weight: normal;
}
footer h1{
    font-weight: bold;
}
.search-contaienr{
    background-color: white;
    border-radius: 20px;
    
}

.logo-footer h1{
    font-family: Pacifico;
    margin-bottom: 30px;
    font-weight: normal;
}
footer button{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: none;
    background-color: #1791A0;
    color: white;
    position: absolute;
    margin-top: 5px;
}

.bottom-footer{
    background-color: #171717;
    padding: 0;
    color: white;
    padding-top: 30px;

}
.bottom-footer p{
    font-size: 14px;
}
.logo-footer h1{
    font-size: 30px;
}
.footer-social-icon h2{
    font-size: 20px;
    text-align: end;
}
.footer-social-icon .fa-brands{
    margin-left: 20px;
}
@media (max-width:700px) {
    .navbar-brand{
        margin: 0;
    }

    .feature-post h1{
        font-size: auto;
    }
}